body {
    margin: 0;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .gameboard {
    height: 100vh;
    width: 100vw;
    border-radius: 50%;
    /* border: 10px solid #444444; */
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left, .right {
    float: left;
  }


  .azul {
    background: #0983e7;
  }

  .azul.light {
    background: #64f0ff;
  }

  .rojo {
    background: #ec0909;
  }

  .rojo.light {
    background: #ff6752;
  }

  .amarillo {
    background: #ffee00;
  }

  .amarillo.light {
    background: #ffef61;
  }

  .verde {
    background: #1dd80d;
  }

  .verde.light {
    background: #88ff51;
  }

  .btn-start {
    width: 400px;
    height: 80px;
    background: #444444;
    color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 200px);
    border-radius: 40px;
    border: none;
    font-family: 'Oswald', sans-serif;
  }

  